<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>
<body>
    <header>
        <!-- menu de navegacion -->
        <nav>
            <a href="">Hipervinculos</a>
            <a href="">Hipervinculos</a>
            <a href="">Hipervinculos</a>
        </nav>
    </header>  

    <!-- contenido -->
    <main>
        <h2><strong>Recetas</strong></h2>

        <p>Carnes</p>

        <ul>
            <li>Carnes rojas</li>
            <li>Pollo y aves</li>
            <li>Pescado</li>
            <li>Cerdo</li>
        </ul>
        
        <p>Pastas y arroces</p>
        <ul>
            <li>Ñoquis</li>
            <li>Sorrentinos</li>
            <li>Rissoto</li>
            <li>Canelones</li>
        </ul>

        <p>Postres</p>
        <ul>
            <li>Waffles</li>
            <li>Volcan de chocolate</li>
            <li>Torta rogel</li>
            <li>Lemon pie</li>
        </ul>

    </main>

    <footer>
        <h6>Nombre de la pagina y contacto</h6>
    </footer> 
    <!-- instagram, mail, facebook, youtube, reclamos, pinterest, mapa del sitio, categorias, etc -->

</body>
</html>